[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m unittest discover -s src/tests"
test-coverage = "coverage run -m unittest discover -s src/tests"
test-report = "coverage report"
test-report-html = "coverage html"
lint = "flake8"
start = "gunicorn src.server:app --reload"

[packages]
falcon = "==0.3.0"
gunicorn = "*"
python-mimeparse = "*"
redis = "*"
requests = "*"
six = "*"
coverage = "*"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"

[requires]
python_version = "3.6"
